@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/*font-family: 'Outfit', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.container{
    max-width: 360px;
    margin: 0 auto;
    text-align: center;

}
.wrapper{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    
}

.content img{
    max-width: 300px;
    max-height: 300px;
    width: 500px;
    height: 500px;
    border-radius: 5%;
    cursor: pointer;
    
}


.content h2.text{
    margin-top: 10px;
    color: hsl(218, 44%, 22%);
    transition: color 0.3s ease;
}
.content h2.text:hover{
    color:red ;
}
.content h4.des{
    margin-top: 20px;
    color:  hsl(212, 12%, 69%);
    font-weight: 900;
    transition: color 0.3s ease;
}
.content h4.des:hover{
    color: green;
}

